<div class="container">
    <div class="row justify-content-start">
        <div class="row justify-content-around">
          <div class="col-9 mt-5">
           <h1>ようこそ、ながのCAKEへ!</h1>
           <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要となります。</p>
          </div>
        </div>
    </div>
</div>
新着商品