<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @customer %>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
    <li class="list-group-item list-group-item-secondary">顧客編集</li>

    <%= render 'form', customer: @customer %>

    </div>
  </div>
</div>