<div class="container mt-5 mb-5">
  <p><%= @customer.full_name %>さんの会員ページ</p>

  <%= render 'info', customer: @customer %>

  <%= link_to edit_admin_customer_path(@customer), class: "btn btn-primary mb-3" do %>
    編集
  <% end %>

  <%#= link_to admin_customer_order_show_path(@customer), class: "btn btn-primary mb-3" do %>
    <!--注文一覧-->
  <%# end %>

</div>