
<p><%= @customer.full_name %>さんの会員ページ</p>

<%= render 'info', customer: @customer %>


<%= link_to '編集' , edit_admin_customer_path(@customer), class: "btn btn-sm" %>  | <%= link_to '注文一覧' , admin_items_path, class: "btn btn-sm" %>
