<!--<video>-->
<!-- <source src="thx.mp4" type="video/mp4">-->
<!-- <p>お買い上げありがとうございます。</p>-->
<!--</video>-->
<%= video_tag("/assets/videos/thx.mp4", :autoplay => true, :muted => true, style: "width:100%;") %>