<p>注文一覧</p>

<table class='table table-hover table-inverse'>
<thead>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払い金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>
</thead>
 <tbody>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.created_at %>
    </td>
    <td>
      <%= order.address %>
    </td>
    <td>
      注文商品
    </td>
    <td>
      支払い金額
    </td>
    <td>
      ステータス
    </td>
    <td>
      注文詳細
    </td>
  </tr>
  <% end %>
</tbody>


</table>