<div class="container mt-5 mb-5">
<p>注文履歴詳細</p>
<div class="row">
注文情報
<div class="col-lg-7">
<table class='table table-hover table-inverse'>
  <tr>
    <th>注文日</th>
    <td></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>郵便番号</td>
    <td>住所</td>
    <td>宛名</td>
  </tr>
  <tr>
    <th>銀行振込</th>
    <td></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td>
    </td>
  </tr>
</table>
</div>

<div class="col-lg-5">
請求情報
<table class='table table-hover table-inverse'>
  <tr>
    <th>商品合計</th>
    <td></td>
  </tr>
  <tr>
    <th>配送料</th>
    <td></td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td></td>
  </tr>
</table>
</div>
</div>

<div class="row">
<p>注文内容</p>
<table class='table table-hover table-inverse'>
<thead>
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
</thead>
 <tbody>

  <tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>

</tbody>


</table>
</div>
</div>