.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

/*span, div, f {*/
/*  font-family: "Hannari";*/
/*}*/

/*span, div, f {*/
/*  font-family: "Nico Moji";*/
/*}*/

span, div, f {
  font-family: 'Kaisei Opti', serif;
}



table {
  background-color: #fffaf0;
}

th {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}


th:before {
  left: 7px;
}

th:after {
  right: 7px;
}

body {
  background-color: #faf0e6;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image:url("images/bg.jpg");

}

header {
  background-color: #fff8dc;
}
.pagination {
  justify-content: center;
  margin:50px auto;
  border: none;
  color: #696969;
  border-radius: 15px;
}

.nav-item {
  margin:10px;
}
footer {
  margin-top:50px;
  background-color: #fff8dc;
}