<table>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td>
          <%#= link_to "すべての商品", public_items_path %>
        </td>
        <td>
          <%= link_to genre.name, public_items_path(genre_id: genre.id), class: "text-secondary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>