<tbody>
    <% genres.each do |genre| %>
    <tr>
      <% if genre.is_active == true %>　
      <td>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-secondary" %>
      </td>
      <%# items_pathに引数としてgenre_idを渡す %>
      <% end %>
    </tr>
    <% end %>
</tbody>