<table>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <th>
          <%= link_to genre.name, public_items_path(genre_id: genre.id), class: "text-secondary" %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>