<div class="container">
    <%#= render 'ジャンル検索' %>
  <table>
    <thead>
      <h1>商品一覧</h1>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <th><%= image_tag get_item_image(50.50) %>
        <td><%= item.name %></td>
        <td><%= item.without_tax %></td>
      </th>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items %>